<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>When enabled, haptic feedback will be played when workflows start and stop running.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Play Haptic Feedback</string>
			<key>Key</key>
			<string>WFWorkflowHapticFeedback</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
	</array>
	<key>ApplicationGroupContainerIdentifier</key>
	<string>Filled in by build phase</string>
</dict>
</plist>
