<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIApplicationShortcutItems</key>
    <array>
      <dict>
        <key>UIApplicationShortcutItemTitle</key>
        <string>Create Shortcut</string>
        <key>UIApplicationShortcutItemType</key>
        <string>create_workflow</string>
        <key>UIApplicationShortcutItemIconType</key>
        <string>UIApplicationShortcutIconTypeAdd</string>
      </dict>
      <dict>
        <key>UIApplicationShortcutItemTitle</key>
        <string>Gallery</string>
        <key>UIApplicationShortcutItemType</key>
        <string>view_gallery</string>
        <key>UIApplicationShortcutItemIconType</key>
        <string>UIApplicationShortcutIconTypeUpdate</string>
      </dict>
    </array>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Shortcuts needs to access your location in order to run location-based actions in the background.</string>
    <key>DTPlatformVersion</key>
    <string>12.1</string>
    <key>DTSDKBuild</key>
    <string>16B91</string>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
          <string>AppIcon76x76</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSCameraUsageDescription</key>
    <string>Shortcuts needs access to your camera in order to run shortcuts that use the camera.</string>
    <key>LSSupportsOpeningDocumentsInPlace</key>
    <true/>
    <key>NSUbiquitousContainers</key>
    <dict>
      <key>iCloud.is.workflow.my.workflows</key>
      <dict>
        <key>NSUbiquitousContainerSupportedFolderLevels</key>
        <string>Any</string>
        <key>NSUbiquitousContainerName</key>
        <string>Shortcuts</string>
        <key>NSUbiquitousContainerIsDocumentScopePublic</key>
        <true/>
      </dict>
    </dict>
    <key>CFBundleDisplayName</key>
    <string>Shortcuts</string>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.apple.shortcut</string>
          <string>is.workflow.my.workflow</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>Shortcut</string>
        <key>LSHandlerRank</key>
        <string>Owner</string>
      </dict>
      <dict>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.data</string>
          <string>public.item</string>
          <string>public.content</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>Data</string>
        <key>LSHandlerRank</key>
        <string>None</string>
      </dict>
    </array>
    <key>DTXcodeBuild</key>
    <string>10B61</string>
    <key>NSRemindersUsageDescription</key>
    <string>Shortcuts needs access to your reminders in order to run reminders-related actions.</string>
    <key>UTExportedTypeDeclarations</key>
    <array>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>com.apple.shortcut</string>
        <key>UTTypeDescription</key>
        <string>Shortcut</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>is.workflow.my.workflow</string>
        </array>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>shortcut</string>
          </array>
        </dict>
      </dict>
    </array>
    <key>CFBundleIdentifier</key>
    <string>is.workflow.my.app</string>
    <key>NSUserActivityTypes</key>
    <array>
      <string>INRunWorkflowIntent</string>
      <string>is.workflow.my.app.continueworkflow</string>
      <string>is.workflow.my.app.openurl</string>
      <string>is.workflow.my.app.runaction</string>
      <string>is.workflow.my.app.viewworkflow</string>
    </array>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>associate</string>
      <string>blindsquare</string>
      <string>blink</string>
      <string>captio</string>
      <string>citymapper</string>
      <string>cloudier</string>
      <string>com.goodreader.sendtogr</string>
      <string>comgooglemaps</string>
      <string>dayone</string>
      <string>dbapi-2</string>
      <string>deskconnect</string>
      <string>due</string>
      <string>editorial</string>
      <string>evernote</string>
      <string>fantastical2</string>
      <string>googlechrome-x-callback</string>
      <string>ifttt</string>
      <string>imgur</string>
      <string>itranslate</string>
      <string>launcher</string>
      <string>line</string>
      <string>omnifocus</string>
      <string>opener</string>
      <string>org-appextension-feature-password-management</string>
      <string>overcast</string>
      <string>pocket-oauth-v1</string>
      <string>pythonista</string>
      <string>quotebook</string>
      <string>robinhood</string>
      <string>skype</string>
      <string>slack</string>
      <string>tally2</string>
      <string>texttool</string>
      <string>tg</string>
      <string>thehitlist</string>
      <string>things</string>
      <string>todoist</string>
      <string>transit</string>
      <string>trello</string>
      <string>tweetbot</string>
      <string>twitter</string>
      <string>twodo</string>
      <string>uber</string>
      <string>venmo</string>
      <string>waze</string>
      <string>wordpress</string>
      <string>wunderlist</string>
      <string>x-callback-instapaper</string>
      <string>x-drafts5</string>
    </array>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>UIStatusBarTintParameters</key>
    <dict>
      <key>UINavigationBar</key>
      <dict>
        <key>Style</key>
        <string>UIBarStyleDefault</string>
        <key>Translucent</key>
        <false/>
      </dict>
    </dict>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>NSHealthUpdateUsageDescription</key>
    <string>Shortcuts needs access to update your health data in order to run health-related actions.</string>
    <key>NSMotionUsageDescription</key>
    <string>Shortcuts needs access to your motion and fitness data in order to run motion-related actions.</string>
    <key>MinimumOSVersion</key>
    <string>12.0</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Shortcuts needs access to your photo library in order to run photo-related actions.</string>
    <key>CFBundleName</key>
    <string>Shortcuts</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.1</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>audio</string>
      <string>remote-notification</string>
    </array>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>UTImportedTypeDeclarations</key>
    <array>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>is.workflow.my.workflow</string>
        <key>UTTypeDescription</key>
        <string>Workflow</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>com.apple.property-list</string>
          <string>public.content</string>
        </array>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>wflow</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>com.microsoft.HTML</string>
        <key>UTTypeDescription</key>
        <string>Microsoft Office content</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.html</string>
        </array>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <string>html</string>
        </dict>
      </dict>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>net.daringfireball.markdown</string>
        <key>UTTypeDescription</key>
        <string>Markdown content</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.plain-text</string>
        </array>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.mime-type</key>
          <string>text/x-markdown</string>
          <key>public.filename-extension</key>
          <string>md</string>
        </dict>
      </dict>
    </array>
    <key>UIAppFonts</key>
    <array>
      <string>WorkflowGlyphs.ttf</string>
    </array>
    <key>CFBundleExecutable</key>
    <string>Shortcuts</string>
    <key>NSHealthShareUsageDescription</key>
    <string>Shortcuts needs access to your health data in order to run health-related actions.</string>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>NSAppleMusicUsageDescription</key>
    <string>Shortcuts needs access to your music library in order to run music-related actions.</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>Shortcuts needs permission to use speech recognition in order to run speech-related actions.</string>
    <key>NSLocationUsageDescription</key>
    <string>Shortcuts needs to access your location in order to run location-based actions.</string>
    <key>BuildMachineOSBuild</key>
    <string>17A405001</string>
    <key>NSCalendarsUsageDescription</key>
    <string>Shortcuts needs access to your calendar in order to run calendar-related actions.</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Shortcuts needs access to your microphone in order to run microphone-related actions.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Shortcuts needs to access your location in order to run location-based actions.</string>
    <key>CFBundleVersion</key>
    <string>736</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.googleusercontent.apps.863497098689</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.googleusercontent.apps.863497098689-piva0emq3t9834mkk8gj406o9csaooff</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>is.workflow.app.url-scheme</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>shortcuts-production</string>
          <string>shortcuts</string>
          <string>workflow</string>
          <string>workflow000000</string>
          <string>workflow1B9AF7</string>
          <string>workflow7B72E9</string>
          <string>workflow49E845</string>
          <string>workflow55DAE1</string>
          <string>workflow3871DE</string>
          <string>workflow19BD03</string>
          <string>workflowA9A9A9</string>
          <string>workflowDB49D8</string>
          <string>workflowED4694</string>
          <string>workflowFD6631</string>
          <string>workflowFE9949</string>
          <string>workflowFEC418</string>
          <string>workflowFF4351</string>
          <string>workflowFFD426</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>venmo1809</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>venmo1809</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>db-i0cvbg4s5rzbeys</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>db-i0cvbg4s5rzbeys</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>en-team146</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>en-team146</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>pocketapp36486</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>pocketapp36486</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>is.workflow.my.app.sendtogr</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>is.workflow.my.app.sendtogr</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>fb295903483910780</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>fb295903483910780</string>
        </array>
      </dict>
    </array>
    <key>NSHomeKitUsageDescription</key>
    <string>Shortcuts needs access to your HomeKit accessories in order to run HomeKit-related actions.</string>
    <key>DTSDKName</key>
    <string>iphoneos12.1</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
      <key>NSExceptionDomains</key>
      <dict>
        <key>graph.facebook.com</key>
        <dict>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <false/>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <false/>
        </dict>
        <key>accounts.google.com</key>
        <dict>
          <key>NSIncludesSubdomains</key>
          <true/>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <false/>
        </dict>
        <key>dropboxapi.com</key>
        <dict>
          <key>NSIncludesSubdomains</key>
          <true/>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <false/>
        </dict>
        <key>fbcdn.net</key>
        <dict>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <false/>
          <key>NSIncludesSubdomains</key>
          <true/>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <false/>
        </dict>
        <key>tumblr.com</key>
        <dict>
          <key>NSIncludesSubdomains</key>
          <false/>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <false/>
        </dict>
        <key>slack.com</key>
        <dict>
          <key>NSIncludesSubdomains</key>
          <true/>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <false/>
        </dict>
        <key>api.giphy.com</key>
        <dict>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <false/>
        </dict>
        <key>api.pinboard.in</key>
        <dict>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <false/>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <false/>
        </dict>
        <key>todoist.com</key>
        <dict>
          <key>NSIncludesSubdomains</key>
          <true/>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <false/>
        </dict>
        <key>yinxiang.com</key>
        <dict>
          <key>NSIncludesSubdomains</key>
          <true/>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <false/>
        </dict>
        <key>a.wunderlist.com</key>
        <dict>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <false/>
        </dict>
        <key>dropbox.com</key>
        <dict>
          <key>NSIncludesSubdomains</key>
          <true/>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <false/>
        </dict>
        <key>upload.twitter.com</key>
        <dict>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <false/>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <false/>
        </dict>
        <key>instapaper.com</key>
        <dict>
          <key>NSIncludesSubdomains</key>
          <true/>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <false/>
        </dict>
        <key>api.diffbot.com</key>
        <dict>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <false/>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <false/>
          <key>NSThirdPartyExceptionMinimumTLSVersion</key>
          <string>TLSv1.0</string>
        </dict>
        <key>facebook.com</key>
        <dict>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <false/>
          <key>NSIncludesSubdomains</key>
          <false/>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <false/>
        </dict>
        <key>workflow.is</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <false/>
        </dict>
        <key>evernote.com</key>
        <dict>
          <key>NSIncludesSubdomains</key>
          <true/>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <false/>
        </dict>
        <key>api.mixpanel.com</key>
        <dict>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <false/>
        </dict>
        <key>imgur-apiv3.p.mashape.com</key>
        <dict>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <false/>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <false/>
        </dict>
        <key>uber.com</key>
        <dict>
          <key>NSIncludesSubdomains</key>
          <true/>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <false/>
        </dict>
        <key>api.microsofttranslator.com</key>
        <dict>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <false/>
        </dict>
        <key>akamaihd.net</key>
        <dict>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <false/>
          <key>NSIncludesSubdomains</key>
          <true/>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <false/>
        </dict>
        <key>twitter.com</key>
        <dict>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <false/>
        </dict>
        <key>getpocket.com</key>
        <dict>
          <key>NSIncludesSubdomains</key>
          <false/>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <false/>
        </dict>
        <key>maps.googleapis.com</key>
        <dict>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <false/>
        </dict>
        <key>api.twitter.com</key>
        <dict>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <false/>
        </dict>
      </dict>
    </dict>
    <key>NSContactsUsageDescription</key>
    <string>Shortcuts needs access to your contacts in order to run contacts-related actions.</string>
    <key>DTPlatformBuild</key>
    <string>16B91</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Shortcuts needs access to your photo library in order to run photo-related actions.</string>
    <key>DTXcode</key>
    <string>1010</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>DTAppStoreToolsBuild</key>
    <string>10B61</string>
  </dict>
</plist>
