<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceBasedVPP</key>
	<false/>
	<key>apple-id</key>
	<string>gcordalisus@gmail.com</string>
	<key>artistName</key>
	<string>Apple</string>
	<key>bundleVersion</key>
	<string>736</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>Productivity</string>
	<key>genreId</key>
	<integer>6007</integer>
	<key>hasMessagesExtension</key>
	<false/>
	<key>is-auto-download</key>
	<false/>
	<key>is-purchased-redownload</key>
	<false/>
	<key>itemId</key>
	<integer>915249334</integer>
	<key>itemName</key>
	<string>Shortcuts</string>
	<key>kind</key>
	<string>software</string>
	<key>launchProhibited</key>
	<false/>
	<key>rating</key>
	<dict>
		<key>label</key>
		<string>4+</string>
		<key>rank</key>
		<integer>100</integer>
	</dict>
	<key>s</key>
	<integer>143461</integer>
	<key>sideLoadedDeviceBasedVPP</key>
	<false/>
	<key>softwareVersionBundleId</key>
	<string>is.workflow.my.app</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>829122576</integer>
	<key>sourceApp</key>
	<string>com.apple.AppStore</string>
	<key>storeCohort</key>
	<string>3|date=1418709600000&amp;sf=143461</string>
	<key>subgenre</key>
	<array/>
	<key>userName</key>
	<string>gcordalisus@gmail.com</string>
	<key>variantID</key>
	<string>1:iPhone10,3:12</string>
</dict>
</plist>
